<!DOCTYPE html>
<html lang="en" ng-app="OutcastApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Outcast</title>

    <!-- Include -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/tether/dist/js/tether.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
    <div class="container" ng-controller="MasterCtrl">
        <button class="btn btn-primary" type="button" data-ng-click="toggleNewFeed()">New Feed</button>

        <div id="newFeedDiv" style="display: none" ng-controller="NewFeedCtrl">
            <form novalidate class="form-inline" ng-submit="submitNewFeed()" name="form" id="newFeedForm">
                <div class="form-group" ng-class="{'has-danger': form.title.$invalid && form.title.$dirty,
                                                   'has-success': form.title.$valid && form.title.$dirty}">
                    <label class="form-control-label" for="titleInput">Title</label>
                    <input class="form-control" type="text"
                           ng-class="{'form-control-danger': form.title.$invalid && form.title.$dirty,
                                      'form-control-success': form.title.$valid && form.title.$dirty}"
                           ng-required="true"
                           ng-model="feed.title" ng-model-options="{debounce: 300}" ng-minlength="4" ng-maxlength="30"
                           name="title" id="titleInput">
                </div>
                <div class="form-group" ng-class="{'has-danger': form.location.$invalid && form.location.$dirty,
                                                   'has-success': form.location.$valid && form.location.$dirty}">
                    <label class="form-control-label" for="locationInput">Location</label>
                    <input url class="form-control" type="url"
                           ng-class="{'form-control-danger': form.location.$invalid && form.location.$dirty,
                                      'form-control-success': form.location.$valid && form.location.$dirty}"
                           ng-required="true"
                           ng-model="feed.location" ng-model-options="{debounce: 300}" name="location" id="locationInput">
                </div>
                <button type="submit" class="btn" ng-disabled="form.$invalid"
                        ng-class="{'btn-primary': form.$valid, 'btn-secondary': form.$invalid}">Add</button>
            </form>
        </div>
        <div ng-controller="RssFeedCtrl">
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Podcast Title</th>
                        <th>RSS Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="feed in feeds">
                        <td>{{$index}}</td>
                        <td>{{feed.title}}</td>
                        <td>{{feed.location}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>